<a href="https://colab.research.google.com/github/caltunay/dd_competition_heart_disease/blob/master/Deep_Learning_Keras_Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report, precision_score, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import GridSearchCV

In [0]:
train_val = pd.read_csv('train_values.csv')
train_lab = pd.read_csv('train_labels.csv')

test_val = pd.read_csv('test_values.csv')

In [0]:
def slope_type(df):
    
    """Convert slope_of_peak_exercise_st_segment
    column to string/categorical values"""
    
    if df['slope_of_peak_exercise_st_segment'] == 1:
        return 'Upslope'
    
    elif df['slope_of_peak_exercise_st_segment'] == 2:
        return 'Flat'
    
    else: 
        return 'Downslope'

In [0]:
train_val['slope_type'] = train_val.apply(slope_type, axis = 1)
test_val['slope_type'] = test_val.apply(slope_type, axis = 1)

In [0]:
def chest_pain_type(df):
    
    """Convert chest pain
    type to string/categorical values"""
    
   
    if df['chest_pain_type'] == 1:
        return 'typical angina'

    elif df['chest_pain_type'] == 2:
        return 'atypical angina'
    
    elif df['chest_pain_type'] == 3:
        return 'non-anginal angina'
    
    else:
        return 'asymptomatic'

In [0]:
train_val['chest_pain'] = train_val.apply(chest_pain_type, axis = 1)

In [0]:
test_val['chest_pain'] = test_val.apply(chest_pain_type, axis = 1)

In [0]:
def vessel_type(df):

    """Convert major vessels to categorical"""
    
    if df['num_major_vessels'] == 0:
        return 'Color 0'
    elif df['num_major_vessels'] == 1:
        return 'Color 1'
    elif df['num_major_vessels'] == 2:
        return 'Color 2'
    else:
        return 'Color 3'

In [0]:
train_val['vessel_type'] = train_val.apply(vessel_type, axis = 1)
train_val['blood_sugar'] = train_val['fasting_blood_sugar_gt_120_mg_per_dl'].map({1:"Over 120mg", 0:"Under 120mg"})
train_val['ekg'] = train_val['resting_ekg_results'].map({0:'normal', 1: 'abnormality', 2: 'hypertrophy'})
train_val['chest_pain_with_exercise'] = train_val['exercise_induced_angina'].map({0:'None', 1:'Exist'}) 
test_val['vessel_type'] = test_val.apply(vessel_type, axis = 1)

In [0]:
test_val['blood_sugar'] = test_val['fasting_blood_sugar_gt_120_mg_per_dl'].map({1:"Over 120mg", 0:"Under 120mg"})
test_val['ekg'] = test_val['resting_ekg_results'].map({0:'normal', 1: 'abnormality', 2: 'hypertrophy'})
test_val['chest_pain_with_exercise'] = test_val['exercise_induced_angina'].map({0:'None', 1:'Exist'})

In [0]:
drop_cols = 'slope_of_peak_exercise_st_segment chest_pain_type num_major_vessels fasting_blood_sugar_gt_120_mg_per_dl resting_ekg_results exercise_induced_angina'.split()

train_clean = train_val.drop(labels = drop_cols, axis = 1)
test_clean = test_val.drop(labels = drop_cols, axis = 1)

In [0]:
train_clean['sex'] = train_val['sex'].map({0: 'female', 1: 'male'})
test_clean['sex'] = test_val['sex'].map({0: 'female', 1: 'male'})

In [0]:
obj_cols = ['thal', 'sex', 'slope_type', 'chest_pain', 'vessel_type', 'blood_sugar', 'ekg', 'chest_pain_with_exercise']

train_dummied = pd.get_dummies(data = train_clean, prefix_sep = '|', drop_first = True, columns = obj_cols)
test_dummied = pd.get_dummies(data = test_clean, prefix_sep = '|', drop_first = True, columns = obj_cols)

In [0]:
train_dummied.head()

  patient_id  resting_blood_pressure  ...  ekg|normal  chest_pain_with_exercise|None
0     0z64un                     128  ...           0                              1
1     ryoo3j                     110  ...           1                              1
2     yt1s1x                     125  ...           0                              0
3     l2xjde                     152  ...           1                              1
4     oyt4ek                     178  ...           0                              1

[5 rows x 21 columns]

In [0]:
test_dummied.head()

  patient_id  resting_blood_pressure  ...  ekg|normal  chest_pain_with_exercise|None
0     olalu7                     170  ...           0                              1
1     z9n6mx                     138  ...           1                              1
2     5k4413                     120  ...           0                              0
3     mrg7q5                     102  ...           1                              1
4     uki4do                     138  ...           0                              0

[5 rows x 21 columns]

In [0]:
ser, eq_depression_bin = pd.qcut(x = train_dummied['oldpeak_eq_st_depression'], q = 3, labels = ['low', 'mid', 'high'], retbins = True)

In [0]:
train_dummied = pd.merge(left = train_dummied, right = ser, left_index = True, right_index = True)

In [0]:
train_dummied.drop(labels = 'oldpeak_eq_st_depression_x', axis = 1, inplace = True)

In [0]:
train_dummied.head()

  patient_id  ...  oldpeak_eq_st_depression_y
0     0z64un  ...                         low
1     ryoo3j  ...                        high
2     yt1s1x  ...                         low
3     l2xjde  ...                         low
4     oyt4ek  ...                        high

[5 rows x 21 columns]

In [0]:
serum_ser, serum_bin = pd.qcut(x = train_dummied['serum_cholesterol_mg_per_dl'], q = 4, labels = ['low', 'mid-low', 'mid-high', 'high'], retbins = True)
# train_clean = pd.merge(left = train_clean, right = serum_ser, left_index = True, right_index = True)
# train_clean.drop(labels = 'serum_cholesterol_mg_per_dl_x', axis = 1, inplace = True)
# train_clean.head()

In [0]:
train_dummied = pd.merge(left = train_dummied, right = serum_ser, left_index = True, right_index = True)
train_dummied.head()

  patient_id  ...  serum_cholesterol_mg_per_dl_y
0     0z64un  ...                           high
1     ryoo3j  ...                        mid-low
2     yt1s1x  ...                           high
3     l2xjde  ...                        mid-low
4     oyt4ek  ...                       mid-high

[5 rows x 22 columns]

In [0]:
train_dummied.drop(labels = 'serum_cholesterol_mg_per_dl_x', axis = 1, inplace = True)
train_dummied.head()

  patient_id  ...  serum_cholesterol_mg_per_dl_y
0     0z64un  ...                           high
1     ryoo3j  ...                        mid-low
2     yt1s1x  ...                           high
3     l2xjde  ...                        mid-low
4     oyt4ek  ...                       mid-high

[5 rows x 21 columns]

In [0]:
test_dummied.head()

test_dep = pd.cut(test_dummied['oldpeak_eq_st_depression'], bins = eq_depression_bin, labels = ['low', 'mid', 'high'], include_lowest = True)

test_dummied = pd.merge(left = test_dummied, right = test_dep, left_index = True, right_index = True)
test_dummied.drop(labels = 'oldpeak_eq_st_depression_x', axis = 1, inplace = True)

In [0]:
test_temp2 = pd.cut(test_dummied['serum_cholesterol_mg_per_dl'], bins = serum_bin, labels = ['low', 'mid-low', 'mid-high', 'high'], include_lowest = True )

test_dummied = pd.merge(left = test_dummied, right = test_temp2, left_index = True, right_index = True)
test_dummied.drop(labels = 'serum_cholesterol_mg_per_dl_x', axis = 1, inplace = True)

test_dummied.head()

  patient_id  ...  serum_cholesterol_mg_per_dl_y
0     olalu7  ...                           high
1     z9n6mx  ...                            low
2     5k4413  ...                            low
3     mrg7q5  ...                           high
4     uki4do  ...                            low

[5 rows x 21 columns]

In [0]:
train_dummied = pd.get_dummies(data = train_dummied, columns = ['oldpeak_eq_st_depression_y', 'serum_cholesterol_mg_per_dl_y'], drop_first = True, prefix_sep= '|')
test_dummied = pd.get_dummies(data = test_dummied, columns = ['oldpeak_eq_st_depression_y', 'serum_cholesterol_mg_per_dl_y'], drop_first = True, prefix_sep= '|')

In [0]:
train_dummied.shape

(180, 24)

In [0]:
test_dummied.shape

(90, 24)

In [0]:
ssx = StandardScaler()

In [0]:
x = train_dummied.drop(labels = 'patient_id', axis = 1).values
y = train_lab['heart_disease_present'].values

In [0]:
scaled_x = ssx.fit_transform(x)

In [0]:
import keras

Using TensorFlow backend.

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [0]:
clf = Sequential()

WARNING: Logging before flag parsing goes to stderr.
W0807 05:54:46.985857 140038394906496 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [0]:
clf.add(Dense(input_dim = 23, output_dim = 12, activation = 'relu', init = 'uniform'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=23, activation="relu", units=12, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.
W0807 05:57:07.333960 140038394906496 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0807 05:57:07.339692 140038394906496 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [0]:
clf.add(Dense(output_dim = 12, activation = 'relu', init = 'uniform'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=12, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
clf.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
clf.compile(optimizer = 'adam', metrics = ['accuracy'], loss = 'binary_crossentropy')

W0807 06:03:02.620445 140038394906496 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0807 06:03:02.655609 140038394906496 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0807 06:03:02.663616 140038394906496 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [0]:
clf.fit(scaled_x, y, epochs = 150, batch_size = 10)

W0807 06:04:06.307267 140038394906496 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/150
180/180 [==============================] - 0s 1ms/step - loss: 0.6929 - acc: 0.5667
Epoch 2/150
180/180 [==============================] - 0s 173us/step - loss: 0.6908 - acc: 0.5556
Epoch 3/150
180/180 [==============================] - 0s 152us/step - loss: 0.6827 - acc: 0.5611
Epoch 4/150
180/180 [==============================] - 0s 162us/step - loss: 0.6632 - acc: 0.6889
Epoch 5/150
180/180 [==============================] - 0s 177us/step - loss: 0.6235 - acc: 0.8389
Epoch 6/150
180/180 [==============================] - 0s 139us/step - loss: 0.5684 - acc: 0.8500
Epoch 7/150
180/180 [==============================] - 0s 173us/step - loss: 0.5143 - acc: 0.8500
Epoch 8/150
180/180 [==============================] - 0s 144us/step - loss: 0.4712 - acc: 0.8500
Epoch 9/150
180/180 [==============================] - 0s 148us/step - loss: 0.4342 - acc: 0.8611
Epoch 10/150
180/180 [==============================] - 0s 174us/step - loss: 0.4016 - acc: 0.8556
Epoch 11/150
180/180 [==============================] - 0s 155us/step - loss: 0.3765 - acc: 0.8611
Epoch 12/150
180/180 [==============================] - 0s 142us/step - loss: 0.3588 - acc: 0.8611
Epoch 13/150
180/180 [==============================] - 0s 156us/step - loss: 0.3475 - acc: 0.8611
Epoch 14/150
180/180 [==============================] - 0s 161us/step - loss: 0.3396 - acc: 0.8667
Epoch 15/150
180/180 [==============================] - 0s 145us/step - loss: 0.3304 - acc: 0.8722
Epoch 16/150
180/180 [==============================] - 0s 149us/step - loss: 0.3251 - acc: 0.8722
Epoch 17/150
180/180 [==============================] - 0s 149us/step - loss: 0.3189 - acc: 0.8722
Epoch 18/150
180/180 [==============================] - 0s 155us/step - loss: 0.3129 - acc: 0.8722
Epoch 19/150
180/180 [==============================] - 0s 159us/step - loss: 0.3093 - acc: 0.8778
Epoch 20/150
180/180 [==============================] - 0s 221us/step - loss: 0.3040 - acc: 0.8833
Epoch 21/150
180/180 [==============================] - 0s 145us/step - loss: 0.2992 - acc: 0.8778
Epoch 22/150
180/180 [==============================] - 0s 159us/step - loss: 0.2962 - acc: 0.8833
Epoch 23/150
180/180 [==============================] - 0s 165us/step - loss: 0.2908 - acc: 0.8944
Epoch 24/150
180/180 [==============================] - 0s 184us/step - loss: 0.2867 - acc: 0.8944
Epoch 25/150
180/180 [==============================] - 0s 155us/step - loss: 0.2832 - acc: 0.8944
Epoch 26/150
180/180 [==============================] - 0s 141us/step - loss: 0.2796 - acc: 0.8944
Epoch 27/150
180/180 [==============================] - 0s 143us/step - loss: 0.2755 - acc: 0.8944
Epoch 28/150
180/180 [==============================] - 0s 145us/step - loss: 0.2718 - acc: 0.8944
Epoch 29/150
180/180 [==============================] - 0s 174us/step - loss: 0.2689 - acc: 0.9111
Epoch 30/150
180/180 [==============================] - 0s 171us/step - loss: 0.2650 - acc: 0.9167
Epoch 31/150
180/180 [==============================] - 0s 160us/step - loss: 0.2617 - acc: 0.9111
Epoch 32/150
180/180 [==============================] - 0s 146us/step - loss: 0.2586 - acc: 0.9111
Epoch 33/150
180/180 [==============================] - 0s 159us/step - loss: 0.2564 - acc: 0.9167
Epoch 34/150
180/180 [==============================] - 0s 147us/step - loss: 0.2543 - acc: 0.9111
Epoch 35/150
180/180 [==============================] - 0s 151us/step - loss: 0.2510 - acc: 0.9111
Epoch 36/150
180/180 [==============================] - 0s 159us/step - loss: 0.2487 - acc: 0.9222
Epoch 37/150
180/180 [==============================] - 0s 153us/step - loss: 0.2467 - acc: 0.9222
Epoch 38/150
180/180 [==============================] - 0s 161us/step - loss: 0.2433 - acc: 0.9222
Epoch 39/150
180/180 [==============================] - 0s 153us/step - loss: 0.2406 - acc: 0.9278
Epoch 40/150
180/180 [==============================] - 0s 149us/step - loss: 0.2383 - acc: 0.9278
Epoch 41/150
180/180 [==============================] - 0s 146us/step - loss: 0.2351 - acc: 0.9333
Epoch 42/150
180/180 [==============================] - 0s 160us/step - loss: 0.2330 - acc: 0.9278
Epoch 43/150
180/180 [==============================] - 0s 166us/step - loss: 0.2302 - acc: 0.9278
Epoch 44/150
180/180 [==============================] - 0s 155us/step - loss: 0.2279 - acc: 0.9333
Epoch 45/150
180/180 [==============================] - 0s 153us/step - loss: 0.2257 - acc: 0.9389
Epoch 46/150
180/180 [==============================] - 0s 161us/step - loss: 0.2225 - acc: 0.9389
Epoch 47/150
180/180 [==============================] - 0s 145us/step - loss: 0.2195 - acc: 0.9389
Epoch 48/150
180/180 [==============================] - 0s 153us/step - loss: 0.2175 - acc: 0.9389
Epoch 49/150
180/180 [==============================] - 0s 144us/step - loss: 0.2151 - acc: 0.9389
Epoch 50/150
180/180 [==============================] - 0s 140us/step - loss: 0.2129 - acc: 0.9444
Epoch 51/150
180/180 [==============================] - 0s 164us/step - loss: 0.2112 - acc: 0.9444
Epoch 52/150
180/180 [==============================] - 0s 144us/step - loss: 0.2088 - acc: 0.9444
Epoch 53/150
180/180 [==============================] - 0s 181us/step - loss: 0.2063 - acc: 0.9444
Epoch 54/150
180/180 [==============================] - 0s 144us/step - loss: 0.2036 - acc: 0.9444
Epoch 55/150
180/180 [==============================] - 0s 155us/step - loss: 0.2013 - acc: 0.9444
Epoch 56/150
180/180 [==============================] - 0s 150us/step - loss: 0.1985 - acc: 0.9444
Epoch 57/150
180/180 [==============================] - 0s 141us/step - loss: 0.1957 - acc: 0.9444
Epoch 58/150
180/180 [==============================] - 0s 147us/step - loss: 0.1929 - acc: 0.9444
Epoch 59/150
180/180 [==============================] - 0s 163us/step - loss: 0.1905 - acc: 0.9500
Epoch 60/150
180/180 [==============================] - 0s 144us/step - loss: 0.1884 - acc: 0.9500
Epoch 61/150
180/180 [==============================] - 0s 133us/step - loss: 0.1861 - acc: 0.9500
Epoch 62/150
180/180 [==============================] - 0s 159us/step - loss: 0.1829 - acc: 0.9500
Epoch 63/150
180/180 [==============================] - 0s 170us/step - loss: 0.1803 - acc: 0.9500
Epoch 64/150
180/180 [==============================] - 0s 158us/step - loss: 0.1785 - acc: 0.9500
Epoch 65/150
180/180 [==============================] - 0s 148us/step - loss: 0.1759 - acc: 0.9500
Epoch 66/150
180/180 [==============================] - 0s 166us/step - loss: 0.1738 - acc: 0.9500
Epoch 67/150
180/180 [==============================] - 0s 148us/step - loss: 0.1711 - acc: 0.9500
Epoch 68/150
180/180 [==============================] - 0s 163us/step - loss: 0.1694 - acc: 0.9611
Epoch 69/150
180/180 [==============================] - 0s 150us/step - loss: 0.1665 - acc: 0.9611
Epoch 70/150
180/180 [==============================] - 0s 139us/step - loss: 0.1646 - acc: 0.9556
Epoch 71/150
180/180 [==============================] - 0s 145us/step - loss: 0.1623 - acc: 0.9611
Epoch 72/150
180/180 [==============================] - 0s 147us/step - loss: 0.1602 - acc: 0.9611
Epoch 73/150
180/180 [==============================] - 0s 127us/step - loss: 0.1580 - acc: 0.9611
Epoch 74/150
180/180 [==============================] - 0s 147us/step - loss: 0.1566 - acc: 0.9611
Epoch 75/150
180/180 [==============================] - 0s 159us/step - loss: 0.1535 - acc: 0.9611
Epoch 76/150
180/180 [==============================] - 0s 137us/step - loss: 0.1517 - acc: 0.9611
Epoch 77/150
180/180 [==============================] - 0s 176us/step - loss: 0.1495 - acc: 0.9611
Epoch 78/150
180/180 [==============================] - 0s 127us/step - loss: 0.1474 - acc: 0.9611
Epoch 79/150
180/180 [==============================] - 0s 132us/step - loss: 0.1456 - acc: 0.9611
Epoch 80/150
180/180 [==============================] - 0s 129us/step - loss: 0.1438 - acc: 0.9611
Epoch 81/150
180/180 [==============================] - 0s 148us/step - loss: 0.1414 - acc: 0.9611
Epoch 82/150
180/180 [==============================] - 0s 147us/step - loss: 0.1400 - acc: 0.9611
Epoch 83/150
180/180 [==============================] - 0s 146us/step - loss: 0.1385 - acc: 0.9611
Epoch 84/150
180/180 [==============================] - 0s 155us/step - loss: 0.1361 - acc: 0.9611
Epoch 85/150
180/180 [==============================] - 0s 150us/step - loss: 0.1345 - acc: 0.9611
Epoch 86/150
180/180 [==============================] - 0s 146us/step - loss: 0.1328 - acc: 0.9611
Epoch 87/150
180/180 [==============================] - 0s 192us/step - loss: 0.1304 - acc: 0.9611
Epoch 88/150
180/180 [==============================] - 0s 137us/step - loss: 0.1293 - acc: 0.9611
Epoch 89/150
180/180 [==============================] - 0s 134us/step - loss: 0.1269 - acc: 0.9611
Epoch 90/150
180/180 [==============================] - 0s 144us/step - loss: 0.1259 - acc: 0.9611
Epoch 91/150
180/180 [==============================] - 0s 138us/step - loss: 0.1235 - acc: 0.9611
Epoch 92/150
180/180 [==============================] - 0s 188us/step - loss: 0.1213 - acc: 0.9611
Epoch 93/150
180/180 [==============================] - 0s 122us/step - loss: 0.1203 - acc: 0.9611
Epoch 94/150
180/180 [==============================] - 0s 151us/step - loss: 0.1171 - acc: 0.9611
Epoch 95/150
180/180 [==============================] - 0s 157us/step - loss: 0.1159 - acc: 0.9611
Epoch 96/150
180/180 [==============================] - 0s 144us/step - loss: 0.1140 - acc: 0.9611
Epoch 97/150
180/180 [==============================] - 0s 138us/step - loss: 0.1124 - acc: 0.9611
Epoch 98/150
180/180 [==============================] - 0s 160us/step - loss: 0.1094 - acc: 0.9611
Epoch 99/150
180/180 [==============================] - 0s 155us/step - loss: 0.1076 - acc: 0.9611
Epoch 100/150
180/180 [==============================] - 0s 156us/step - loss: 0.1059 - acc: 0.9611
Epoch 101/150
180/180 [==============================] - 0s 155us/step - loss: 0.1037 - acc: 0.9611
Epoch 102/150
180/180 [==============================] - 0s 142us/step - loss: 0.1013 - acc: 0.9611
Epoch 103/150
180/180 [==============================] - 0s 160us/step - loss: 0.0987 - acc: 0.9667
Epoch 104/150
180/180 [==============================] - 0s 128us/step - loss: 0.0966 - acc: 0.9667
Epoch 105/150
180/180 [==============================] - 0s 125us/step - loss: 0.0941 - acc: 0.9722
Epoch 106/150
180/180 [==============================] - 0s 150us/step - loss: 0.0916 - acc: 0.9722
Epoch 107/150
180/180 [==============================] - 0s 142us/step - loss: 0.0903 - acc: 0.9722
Epoch 108/150
180/180 [==============================] - 0s 148us/step - loss: 0.0868 - acc: 0.9722
Epoch 109/150
180/180 [==============================] - 0s 169us/step - loss: 0.0854 - acc: 0.9722
Epoch 110/150
180/180 [==============================] - 0s 149us/step - loss: 0.0835 - acc: 0.9722
Epoch 111/150
180/180 [==============================] - 0s 149us/step - loss: 0.0810 - acc: 0.9722
Epoch 112/150
180/180 [==============================] - 0s 153us/step - loss: 0.0793 - acc: 0.9722
Epoch 113/150
180/180 [==============================] - 0s 142us/step - loss: 0.0776 - acc: 0.9722
Epoch 114/150
180/180 [==============================] - 0s 155us/step - loss: 0.0754 - acc: 0.9722
Epoch 115/150
180/180 [==============================] - 0s 126us/step - loss: 0.0732 - acc: 0.9722
Epoch 116/150
180/180 [==============================] - 0s 171us/step - loss: 0.0714 - acc: 0.9722
Epoch 117/150
180/180 [==============================] - 0s 148us/step - loss: 0.0693 - acc: 0.9722
Epoch 118/150
180/180 [==============================] - 0s 124us/step - loss: 0.0680 - acc: 0.9722
Epoch 119/150
180/180 [==============================] - 0s 160us/step - loss: 0.0654 - acc: 0.9722
Epoch 120/150
180/180 [==============================] - 0s 168us/step - loss: 0.0641 - acc: 0.9722
Epoch 121/150
180/180 [==============================] - 0s 132us/step - loss: 0.0624 - acc: 0.9778
Epoch 122/150
180/180 [==============================] - 0s 143us/step - loss: 0.0604 - acc: 0.9778
Epoch 123/150
180/180 [==============================] - 0s 135us/step - loss: 0.0592 - acc: 0.9778
Epoch 124/150
180/180 [==============================] - 0s 173us/step - loss: 0.0577 - acc: 0.9833
Epoch 125/150
180/180 [==============================] - 0s 146us/step - loss: 0.0567 - acc: 0.9778
Epoch 126/150
180/180 [==============================] - 0s 149us/step - loss: 0.0552 - acc: 0.9833
Epoch 127/150
180/180 [==============================] - 0s 163us/step - loss: 0.0536 - acc: 0.9889
Epoch 128/150
180/180 [==============================] - 0s 166us/step - loss: 0.0528 - acc: 0.9833
Epoch 129/150
180/180 [==============================] - 0s 149us/step - loss: 0.0513 - acc: 0.9889
Epoch 130/150
180/180 [==============================] - 0s 156us/step - loss: 0.0505 - acc: 0.9889
Epoch 131/150
180/180 [==============================] - 0s 160us/step - loss: 0.0491 - acc: 0.9889
Epoch 132/150
180/180 [==============================] - 0s 139us/step - loss: 0.0480 - acc: 0.9889
Epoch 133/150
180/180 [==============================] - 0s 139us/step - loss: 0.0471 - acc: 0.9889
Epoch 134/150
180/180 [==============================] - 0s 140us/step - loss: 0.0458 - acc: 0.9889
Epoch 135/150
180/180 [==============================] - 0s 150us/step - loss: 0.0450 - acc: 0.9889
Epoch 136/150
180/180 [==============================] - 0s 135us/step - loss: 0.0440 - acc: 0.9889
Epoch 137/150
180/180 [==============================] - 0s 182us/step - loss: 0.0433 - acc: 0.9889
Epoch 138/150
180/180 [==============================] - 0s 152us/step - loss: 0.0429 - acc: 0.9889
Epoch 139/150
180/180 [==============================] - 0s 152us/step - loss: 0.0420 - acc: 0.9889
Epoch 140/150
180/180 [==============================] - 0s 128us/step - loss: 0.0415 - acc: 0.9889
Epoch 141/150
180/180 [==============================] - 0s 141us/step - loss: 0.0411 - acc: 0.9889
Epoch 142/150
180/180 [==============================] - 0s 150us/step - loss: 0.0404 - acc: 0.9889
Epoch 143/150
180/180 [==============================] - 0s 151us/step - loss: 0.0396 - acc: 0.9889
Epoch 144/150
180/180 [==============================] - 0s 145us/step - loss: 0.0390 - acc: 0.9889
Epoch 145/150
180/180 [==============================] - 0s 167us/step - loss: 0.0386 - acc: 0.9889
Epoch 146/150
180/180 [==============================] - 0s 157us/step - loss: 0.0383 - acc: 0.9889
Epoch 147/150
180/180 [==============================] - 0s 167us/step - loss: 0.0378 - acc: 0.9889
Epoch 148/150
180/180 [==============================] - 0s 141us/step - loss: 0.0372 - acc: 0.9889
Epoch 149/150
180/180 [==============================] - 0s 150us/step - loss: 0.0365 - acc: 0.9889
Epoch 150/150
180/180 [==============================] - 0s 135us/step - loss: 0.0361 - acc: 0.9889

In [0]:
from sklearn.metrics import classification_report

In [0]:
x_test = test_dummied.drop(labels = 'patient_id', axis = 1).values
x_test_scaled = ssx.transform(x_test)

In [0]:
yhat = clf.predict(x_test_scaled)

In [0]:
patients = test_dummied[['patient_id']]

predictions_df = pd.merge(left = patients, right = pd.DataFrame(yhat), left_index = True, right_index = True)
predictions_df

   patient_id             0
0      olalu7  9.881518e-01
1      z9n6mx  5.960464e-08
2      5k4413  9.999954e-01
3      mrg7q5  6.297082e-03
4      uki4do  9.999940e-01
5      kev1sk  2.175570e-06
6      9n6let  2.210733e-02
7      jxmtyg  9.996166e-01
8      51s2ff  3.072220e-02
9      wi9mcs  3.190875e-03
10     741h4l  3.069639e-06
11     1ef64a  9.978620e-01
12     wa2ix6  2.700266e-02
13     8167zl  9.999990e-01
14     n6nldr  2.351505e-01
15     ph85fp  1.877546e-06
16     jfan5p  5.662441e-07
17     7c4iz1  2.830327e-03
18     ukigml  9.970223e-01
19     flwvnq  3.041297e-03
20     5i4fw2  9.998671e-01
21     du1pqf  6.359220e-04
22     vs68qz  1.574457e-04
23     pfyez0  5.608797e-05
24     azvkw2  6.343806e-02
25     cird1i  9.999981e-01
26     3bg32t  2.407432e-04
27     xzd050  9.852111e-03
28     eyi8et  9.423751e-02
29     ce4x2h  3.498793e-05
..        ...           ...
60     tgpy9u  6.264448e-05
61     pf5wp6  9.999326e-01
62     cj8vj2  7.703006e-04
63     9w6d9j  9.999993e-01
64     3l89wd  2.179683e-01
65     83a6x1  9.782951e-01
66     oua0gr  9.997112e-01
67     j0hl96  3.229276e-01
68     dlkzyg  9.974033e-01
69     r0w4a8  9.974211e-01
70     46dlca  4.115530e-01
71     9fkefu  9.999994e-01
72     6uk6kl  9.675559e-01
73     c7olxr  9.999998e-01
74     iiyx0q  1.000000e+00
75     25vetx  9.999985e-01
76     073vc5  9.999049e-01
77     18abn0  9.249919e-01
78     v5fsfs  3.481312e-01
79     2ekoo7  2.381501e-02
80     5bbknr  8.785709e-01
81     hr6pjx  8.940697e-08
82     r4hsar  7.405542e-01
83     4cezdf  9.998994e-01
84     palhcc  7.474664e-02
85     bwoyg6  7.145315e-03
86     j8i7ve  9.995205e-01
87     t2zn1n  9.122639e-01
88     oxf8kj  2.327221e-01
89     aeiv0y  1.802767e-05

[90 rows x 2 columns]

In [0]:
predictions_df.rename({0:'heart_disease_present'}, inplace = True)
predictions_df.set_index('patient_id',inplace = True)
predictions_df.head()

                       0
patient_id
olalu7      9.881518e-01
z9n6mx      5.960464e-08
5k4413      9.999954e-01
mrg7q5      6.297082e-03
uki4do      9.999940e-01

In [0]:
predictions_df.rename({0:'heart_disease_present'}, inplace = True, axis = 1)
predictions_df.to_csv('ANN - Heart Disease.csv')